<br>
<div class="row">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">

        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <!-- <label for="fname"><i class="fa fa-user"></i> Full Name</label> -->
            <input type="text" id="fname" name="firstname" placeholder="Full Name" [(ngModel)]="billingInfo.name">
            <!-- <label for="email"><i class="fa fa-envelope"></i> Email</label> -->
            <input type="text" id="email" name="email" placeholder="Email"  [(ngModel)]="billingInfo.email">
            <!-- <label for="phone"><i class="fa fa-phone-square"></i> Mobile Number</label> -->
            <input type="text" id="phone" name="phone" placeholder="Phone Number" [(ngModel)]="billingInfo.phone">
            <!-- <label for="adr"><i class="fa fa-address-card-o"></i> Address</label> -->
            <input type="text" id="adr1" name="address" placeholder="Address"  [(ngModel)]="billingInfo.line1">
            <input type="text" id="adr2" name="address" placeholder="Address" [(ngModel)]="billingInfo.line2">
            <!-- <label for="state">State</label> -->
            <input type="text" id="state" name="state" placeholder="State" [(ngModel)]="billingInfo.state">
            

            <div class="row">
              <div class="col-50">
                <!-- <label for="city">City</label> -->
                <input type="text" id="city" name="city" placeholder="City" [(ngModel)]="billingInfo.city">
              </div>
              <div class="col-50">
                <!-- <label for="zip">Zip</label> -->
                <input type="text" id="zip" name="zip" placeholder="Zip Code" [(ngModel)]="billingInfo.zipcode">
              </div>
            </div>
          </div>

          <div *ngIf="!shipAsBilling" class="col-50">
            <h3>Shipping Address</h3>
            <!-- <label for="fname"><i class="fa fa-user"></i> Full Name</label> -->
            <input type="text" id="fname" name="firstname" placeholder="Full Name" [(ngModel)]="shippingInfo.name">
            <!-- <label for="email"><i class="fa fa-envelope"></i> Email</label> -->
            <input type="text" id="email" name="email" placeholder="Email"  [(ngModel)]="shippingInfo.email">
            <!-- <label for="phone"><i class="fa fa-phone-square"></i> Mobile Number</label> -->
            <input type="text" id="phone" name="phone" placeholder="Phone Number" [(ngModel)]="shippingInfo.phone">
            <!-- <label for="adr"><i class="fa fa-address-card-o"></i> Address</label> -->
            <input type="text" id="adr1" name="address" placeholder="Address"  [(ngModel)]="shippingInfo.line1">
            <input type="text" id="adr2" name="address" placeholder="Address" [(ngModel)]="shippingInfo.line2">
            <!-- <label for="state">State</label> -->
            <input type="text" id="state" name="state" placeholder="State" [(ngModel)]="shippingInfo.state">
            

            <div class="row">
              <div class="col-50">
                <!-- <label for="city">City</label> -->
                <input type="text" id="city" name="city" placeholder="City" [(ngModel)]="shippingInfo.city">
              </div>
              <div class="col-50">
                <!-- <label for="zip">Zip</label> -->
                <input type="text" id="zip" name="zip" placeholder="Zip Code" [(ngModel)]="shippingInfo.zipcode">
              </div>
            </div>
          </div>

        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr" [(ngModel)]="shipAsBilling" (change)="sameAsShipping()" > Shipping address same as billing
        </label>
        <input type="submit" value="UPDATE ADDRESS" class="btn" id="addressBtn" (click)="updateAddress()">
      </form>
    </div>
  </div>

  <div class="col-25">
    <div class="container">
      <h4>Cart
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b>4</b>
        </span>
      </h4>
      <p *ngFor="let cartitem of cart.products"><a href="#">{{cartitem.title}}</a> <span class="price">Rs. {{cartitem.amount}}</span></p>
      <hr>
      <p>Total <span class="price" style="color:black"><b>Rs. {{cart.totalamount}}</b></span></p>

      <input type="submit" value="SUBMIT ORDER" class="btn" (click)="placeOrder()">
    </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
<br>
<br>
