<div class="header-top">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <!-- <div style="background-color: rgb(199, 163, 228)">
    <div>
      Free Shipping
    </div>
  </div> -->
  
  <div class="menu" >
    <div class="header-title" routerLink="/home">
      <div>
        <img src="./../../assets/img/meraki.jpg" />
        <h1>Meraki<sub>Clay Studio</sub></h1>
      </div>
    </div>

    
    <div class="login">
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <meta name="google-signin-client_id" content="385154495103-onraecvd1g0vpim17slj10uc7057o004.apps.googleusercontent.com">
      <div class="g-signin2 fa" *ngIf="!signIn" data-onsuccess="onSignIn" data-width="40" data-height="40" style="border-radius:50%">
      </div>
      <div class="dropdown">
        <a href="#" *ngIf="signIn" class="fa user-img" [ngStyle]="userImageUrl" id="signInBtn"></a>
        <div class="dropdown-content">
          <div class="username"><h5 href="#">{{userName}}</h5></div>
          <a href="#">My Orders</a>
          <a href="#" onclick="signOut();">Sign Out</a>
        </div>
      </div>
    </div>
    <div class="cart-items">
      <img src="../../../assets/img/cart.jpg"/>
  </div>
  <div class="search-items">
      <img src="../../../assets/img/search.jpg"/>
  </div>
    <!-- <div class="search-items">
      <img src="../../../assets/img/search.jpg"/>
  </div> -->
    <!-- <div class="search-bar">
      <form action="/hms/accommodations" method="GET">
        <div>
          <div class="col-xs-1 col-md-2">
            <div class="input-group">
              <input type="text" class="form-control" id="search-input" placeholder="Search" id="txtSearch" style="display:none"/>
              <div class="input-group-btn">
                <button class="btn btn-primary search-btn" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div> -->
  </div>
  <br>
</div>
