<div id="shopify-section-footer" class="shopify-section">
  <footer class="site-footer-wrapper" role="contentinfo" data-section-id="footer" data-section-type="footer" itemscope=""
    itemtype="http://schema.org/Organization">

    <a href="/" itemprop="url" class="footer-logo" id="footerLogo" style="opacity: 1; top: -40px; margin-left: -50px;">
      <img src="//cdn.shopify.com/s/files/1/0017/4043/9667/files/insta_darkpink_ec991d0f-5883-4093-b3de-c09da84c5474_x200.png?v=1533629788"
        alt="The Buttermilk Company" itemprop="logo" id="footerLogoImg-footer">
    </a>

    <div class="wrapper site-footer">
      <div class="grid-uniform">






        <div class="grid__item large--one-third">
          <h5 class="uppercase">About Us </h5>
          <hr class="hr--underline">
          <ul class="footer-quicklinks">

            <li><a href="/pages/our-story">Our Story</a></li>

            <li><a href="/blogs/butterblog">The ButterBlog</a></li>

            <li><a href="/pages/nutrition">Nutrition Information</a></li>

            <li><a href="https://intercom.help/the-buttermilk-company/faqs">The FAQs</a></li>

            <li><a href="/pages/recycling-101">Recycling 101</a></li>

          </ul>
        </div>




        <div class="grid__item large--one-third">
          <h5 class="uppercase">Contact Us</h5>
          <hr class="hr--underline">
          <div class="rte">
            <p>We love hearing from you! Email us at&nbsp;<a href="mailto:hello@thebuttermilkco.com" title="mailto:hello@thebuttermilkco.com">hello@thebuttermilkco.com</a>&nbsp;and
              we'll get back to you as soon as possible.</p>
          </div>
        </div>




        <div class="grid__item large--one-third">
          <h5 class="uppercase">Newsletter</h5>
          <hr class="hr--underline">
          <p>Sign up for fun giveaways, perks, anything but spam ;)</p>
          <!-- /snippets/newsletter-form.liquid -->
          <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input
              type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">


            <input type="hidden" name="contact[accepts_marketing]" value="true">
            <div class="input-group newsletter-form">
              <input type="email" placeholder="your-email@example.com" id="mail" class="input-group-field" aria-label="your-email@example.com"
                autocorrect="off" autocapitalize="off" name="contact[email]">
              <span class="input-group-btn">
                <input type="submit" class="btn uppercase" name="subscribe" id="subscribe" value="Subscribe">
              </span>
            </div>
          </form>

        </div>



      </div>

      <div class="grid footer-secondary-wrapper">
        <ul class="footer-secondary grid__item inline-list">
          <li><a href="https://thebuttermilkco.com" itemprop="url">© The Buttermilk Company 2019</a></li>

          <li><a href="/collections/all">Shop</a></li>

          <li><a href="https://buttermilk.refr.cc/">Invite Friends</a></li>

          <li><a href="/pages/submit-a-recipe">Submit A Recipe!</a></li>

          <!-- Remove the following two lines to delete Shopify and Pipeline credit -->
          <li><a target="_blank" rel="nofollow" href="https://www.shopify.com?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore">Powered
              by Shopify</a></li>
          <li><a href="https://groupthought.com">Pipeline Theme</a></li>
          <!-- stop deleting here :) -->
        </ul>




        <ul class="footer-social social-icons grid__item inline-list">

          <li>
            <a class="icon-fallback-text" href="https://twitter.com/thebuttermilkco" title="The Buttermilk Company on Twitter"
              target="_blank" itemprop="sameAs">
              <span class="icon icon-twitter" aria-hidden="true"></span>
              <span class="fallback-text">Twitter</span>
            </a>
          </li>


          <li>
            <a class="icon-fallback-text" href="https://facebook.com/thebuttermilkco" title="The Buttermilk Company on Facebook"
              target="_blank" itemprop="sameAs">
              <span class="icon icon-facebook" aria-hidden="true"></span>
              <span class="fallback-text">Facebook</span>
            </a>
          </li>


          <li>
            <a class="icon-fallback-text" href="https://instagram.com/thebuttermilkco" title="The Buttermilk Company on Instagram"
              target="_blank" itemprop="sameAs">
              <span class="icon icon-instagram" aria-hidden="true"></span>
              <span class="fallback-text">Instagram</span>
            </a>
          </li>




          <li>
            <a class="icon-fallback-text" href="https://www.youtube.com/thebuttermilkco" title="The Buttermilk Company on Youtube"
              target="_blank" itemprop="sameAs">
              <span class="icon icon-youtube" aria-hidden="true"></span>
              <span class="fallback-text">Youtube</span>
            </a>
          </li>




        </ul>

      </div>
    </div>
  </footer>


</div>
