<div class="basket-product">
  <div class="item" routerLink="/productdetail/{{item.product_id}}">
    <div class="product-image">
      <img src="{{item.image}}" alt="Placholder Image 2" class="product-frame">
    </div>
    <div class="product-details">
      <h1><strong><span class="item-quantity"></span></strong>{{item.title}}</h1>
      <!-- <p><strong></strong>Navy, Size 18</strong></p> -->
      <p>Product Code - {{item.product_id}}</p>
    </div>
  </div>
  <div class="price">{{item.unit_price}}</div>
  <div class="quantity">
    <input type="number" value="{{item.quantity}}" min="1" class="quantity-field" [(ngModel)]="item.quantity" (change)="updateItem(item,item.quantity)">
  </div>
  <div class="subtotal">{{item.amount}}</div>
  <div class="remove">
    <button (click)="removeItem(item)">Remove</button>
  </div>
</div>