<div class="row product-list">
  <a class="product-cart-a" *ngFor="let product of products; index as i;" >  <!-- //routerLink="/products/{{product.id}}"-->
    <div class="clearfix product-cards" *ngIf="$index % 3 == 0"></div>
    <app-product-card [product]="product">
    </app-product-card>
  </a>
</div>


<!-- <div class="row product-list">
  <div *ngFor="let product of products">
      <div class="clearfix" *ngIf="$index % 3 == 0"></div>
      <div class="col-sm-4">
          <h2>{{product.title}}</h2>
      </div>
  </div>
</div> -->
